@import url(assets/fonts.css);

body{
    background-color: hsl(0, 0%, 8%);
    min-height: 100svh;
    
    display: flex;
    justify-content: center;
    align-items: center;       
}

main{
    background-color: hsl(0, 0%, 12%);
    width: 20rem;
    height: auto;
    padding: 2rem;
    color: hsl(0, 0%, 100%);
    text-align: center;
    border-radius: 0.5rem;
}

main img{
    width: 4rem;
    height: 4rem;
    margin-bottom: 1rem;
    border-radius: 2rem;
}

main h1{
    font-family: Inter;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

main .location{
    color: hsl(75, 94%, 57%);
    font-family: Inter-Bold;
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

main .describe{
    font-family: Inter;
    font-size: 0.8rem;
    margin-bottom: 1.5rem;
}

main ul{
    list-style: none;
}

main li{
    background-color: hsl(0, 0%, 20%);
    font-family: Inter-Bold;
    font-size: 0.8rem;
    margin-bottom: 0.8rem;
    padding: 0.8rem;
    border-radius: 0.5rem;
}

main a{
    text-decoration: none;
    color: hsl(0, 0%, 100%);    
}